# A list of requirements that we use to cut a release.
# Since we have pinned the deps to their latest versions,
# it may be useful to run "nox -s release" on a compatible
# Python version.

build==1.2.1
twine==5.1.1
wheel==0.44.0

# We defined setuptools >= 42 in the pyproject.toml
# file, but we pinned it here to use the latest when
# possible.
setuptools==73.0.0
