# A list of requirements that we use to cut a release.
# Since we have pinned the deps to their latest versions,
# it may be useful to run "nox -s release" on a compatible
# Python version.

build==0.10.0
twine==4.0.2
wheel==0.40.0

# We defined setuptools >= 42 in the pyproject.toml
# file, but we pinned it here to use the latest when
# possible.
setuptools==67.7.0
